.btn-update{
	margin-right: 25px;
}

.btn-detail {
	margin-left: 25px;
	margin-right: 25px;
}
.btn-delete {
	margin-left: 25px;
}
.organizer {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 max-width: 4ch;
}
                                      