<app-nav-bar></app-nav-bar>
<div class="col-md-8 offset-md-2">
	<h2 class="text-center">Trainerii pentru proiectul {{project.title}}</h2>
	<button class="btn btn-success btn-add" (click)="goToAdd(project.id)">Adaugă Trainei</button>
	<button class="btn btn-success btn-back" (click)="goBack()">Înapoi</button>


	<table class="table table-striped">
		<thead>
	
			<tr>
				<th>Nume</th>
				<th>Telefon</th>
				<th>Acțiuni</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let trainer of trainers">
				<td>{{trainer.name}}</td>		
				<td>{{trainer.phoneNumber}}</td>
				<td>
					<button class="btn btn-info btn-detail" (click)="goToView(trainer.id)">Info</button>
					<button class="btn btn-danger btn-delete" (click)="deleteTrainer(trainer.id)">Șterge</button>

				</td>
			</tr>
	</table>
	
	</div>