<app-nav-bar></app-nav-bar>
<div class="col-md-6 offset-md-3">
    <h1>{{trainer.name}}</h1>
	<div class="col-md-5"><h4>E-mail:</h4></div>
     <div>{{trainer.email}}</div>

    <div class="col-md-5"><h4>Instituția:</h4></div>
     <div>{{trainer.institution}}</div>

     <div class="col-md-5"><h4>Telefon:</h4></div>
     
     <span>{{trainer.phoneNumber}}</span>
         
    <div *ngIf="projects.length > 0"class="col-l-5"><h4>Proiecte:</h4></div> 


    <table *ngIf="projects.length > 0" class="projects-table">
		<thead>
	
			<tr>
				<th>Titlu</th>
				<th>Perioda</th>
                <th>Actiune</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let p of projects">
				<td>{{p.title}}</td>
				<td>{{p.period}}</td>
                <td><button class="btn btn-info" (click)="goToProject(p.id)">Info</button></td>
			</tr>
	</table>
</div>